<style type="text/css">
html, body {
	height: 100%;
}
html {
	display: table;
}
body {
	display: table-cell;
	position: absolute;
    top : 30%;
    left: 50%;
    -ms-transform: translate(-50%, -30%);
    transform    : translate(-50%, -30%);


}	
#filter_div, #body_div, #title_div {
	border: solid;
	border-width: 1px;
	border-color: #eebbbb;
	align-items: center;
}
#title_div {
	background-color: #eebbbb;
}
#filter_div {
	padding: 3%;
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
	font-size: 100%;
}
form {
	width: 100%;
	text-align: center;
}
#filter_table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}
#even_td {
	background-color: #fffefe;	
}
#odd_td {
	background-color: #ffeeee;
}
</style>